.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.back {
    font-size: 30px;
    font-weight: 500;
    color: rgb(134, 181, 207);
    letter-spacing: 5px;
    background-color: rgb(215, 232, 241);
    border: 2px solid rgb(134, 181, 207);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

.locations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: rgb(215, 232, 241);
    border: 2px solid rgb(134, 181, 207);
    border-radius: 10px;
    margin-bottom: 10px
}

.location__info {
    font-weight: 600;
    color: rgb(134, 181, 207);
    margin: 4px;
}

.location__id {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: 600;
    color: rgb(134, 181, 207);
    margin: 4px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}

a {
    text-decoration: none;
}