.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back {
    font-size: 30px;
    font-weight: 500;
    color: rgb(242, 189, 198);
    letter-spacing: 5px;
    background-color: rgb(245, 230, 232);
    border: 2px solid rgb(242, 189, 198);
    border-radius: 10px;
    padding: 3px;
}

.next {
    font-size: 30px;
    font-weight: 500;
    color: rgb(242, 189, 198);
    letter-spacing: 5px;
    background-color: rgb(245, 230, 232);
    border: 2px solid rgb(242, 189, 198);
    border-radius: 10px;
    padding: 3px;
}

.title {

    font-size: 55px;
    font-weight: 500;
    color: rgb(236, 121, 140);
    letter-spacing: 5px;
}

.character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 325px;
    background-color: rgb(247, 204, 211);
    border: 2px solid rgb(236, 121, 140);
    border-radius: 10px;
    margin: 20px 10px 0px 0px;

    & &__img {
        width: 170px;
        margin-bottom: 15px;
        border: 2px solid rgb(236, 121, 140);
        border-radius: 10px;
    }

    & &__id {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-weight: 600;
        color: rgb(197, 111, 125);
        margin: 4px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: white;
    }

    & &__info {
        font-weight: 600;
        color: rgb(236, 121, 140);
        margin: 4px;
    }
}

.page-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: white;
    margin: 4px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(197, 111, 125);
    cursor: pointer;
}

.page-number {
    display: flex;
    justify-content: center;
    width: 50px;
    color: rgb(197, 111, 125);
    font-size: 20px;
    font-weight: 600;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: white;
    margin: 4px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgb(197, 111, 125);
    cursor: pointer;
}

a {
    text-decoration: none;
}